<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CSV Download of Youtube Search Results</title>
<!-- BootstrapのCSS読み込み -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<!-- jQuery読み込み -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

	<h1>CSV Download of Youtube Search Results</h1>
	<form action="#" th:action="@{/csvDownload}" th:object="${searchForm}"
		method="post">
		<p>
			keyword: <input type="text" th:field="*{keyword}" />
		</p>
		<p>
			<input type="submit" value="CSVダウンロード" />
		</p>
	</form>

</body>
</html>